In [28]:
import scanpy as sc
import pandas as pd
import numpy as np
import anndata

from mgitools.os_helpers import listfiles

#### peng

In [2]:
adata = sc.read_h5ad('../data/single_cell/original/peng/PRJCA001063_CRC_besca2.raw.h5ad')
adata

AnnData object with n_obs × n_vars = 57530 × 18008
    obs: 'CELL', 'CONDITION', 'Patient', 'Type', 'Cell_type'
    var: 'ENSEMBL', 'SYMBOL'

In [3]:
adata.obs

,CELL,CONDITION,Patient,Type,Cell_type
T1_AAACCTGAGATGTCGG,T1_AAACCTGAGATGTCGG,T,T1,T,Fibroblast cell
T1_AAACGGGGTCATGCAT,T1_AAACGGGGTCATGCAT,T,T1,T,Stellate cell
T1_AAAGATGCATGTTGAC,T1_AAAGATGCATGTTGAC,T,T1,T,Macrophage cell
T1_AAAGATGGTCGAGTTT,T1_AAAGATGGTCGAGTTT,T,T1,T,Macrophage cell
T1_AAAGATGGTCTCTCTG,T1_AAAGATGGTCTCTCTG,T,T1,T,Endothelial cell
...,...,...,...,...,...
N11_TTTGCGCGTGCGCTTG,N11_TTTGCGCGTGCGCTTG,N,N11,N,Endothelial cell
N11_TTTGGTTCATTGAGCT,N11_TTTGGTTCATTGAGCT,N,N11,N,Acinar cell
N11_TTTGGTTGTCCGACGT,N11_TTTGGTTGTCCGACGT,N,N11,N,Ductal cell type 1
N11_TTTGTCAAGGCTAGCA,N11_TTTGTCAAGGCTAGCA,N,N11,N,Acinar cell
N11_TTTGTCACATCGGACC,N11_TTTGTCACATCGGACC,N,N11,N,Endothelial cell

In [4]:
set(adata.obs['Patient'])

{'N1',
 'N10',
 'N11',
 'N2',
 'N3',
 'N4',
 'N5',
 'N6',
 'N7',
 'N8',
 'N9',
 'T1',
 'T10',
 'T11',
 'T12',
 'T13',
 'T14',
 'T15',
 'T16',
 'T17',
 'T18',
 'T19',
 'T2',
 'T20',
 'T21',
 'T22',
 'T23',
 'T24',
 'T3',
 'T4',
 'T5',
 'T6',
 'T7',
 'T8',
 'T9'}

In [7]:
set(adata.X[0].toarray().flatten())

{0.0,
 1.0,
 2.0,
 3.0,
 4.0,
 5.0,
 6.0,
 7.0,
 8.0,
 9.0,
 10.0,
 11.0,
 12.0,
 13.0,
 14.0,
 15.0,
 16.0,
 17.0,
 18.0,
 19.0,
 20.0,
 21.0,
 22.0,
 23.0,
 24.0,
 25.0,
 26.0,
 27.0,
 28.0,
 29.0,
 30.0,
 31.0,
 32.0,
 33.0,
 34.0,
 37.0,
 38.0,
 40.0,
 41.0,
 42.0,
 43.0,
 44.0,
 45.0,
 46.0,
 47.0,
 48.0,
 51.0,
 52.0,
 53.0,
 54.0,
 55.0,
 63.0,
 65.0,
 66.0,
 67.0,
 69.0,
 70.0,
 75.0,
 82.0,
 86.0,
 88.0,
 91.0,
 95.0,
 100.0,
 104.0,
 109.0,
 142.0,
 176.0,
 190.0,
 198.0}

#### lin

In [59]:
def read_lin(matrix_fp, features_fp, barcodes_fp):
    mat = sc.read_mtx(matrix_fp).X.transpose()
    feats = pd.read_csv(features_fp, sep='\t', header=None, index_col=0)
    feats.index.name = 'gene_id'
    ls = list(feats.columns)
    ls[0] = 'gene_symbol'
    feats.columns = ls
    barcodes = pd.read_csv(barcodes_fp, sep='\t', header=None, index_col=0)
    a = anndata.AnnData(X=mat, obs=barcodes, var=feats)
    print(a.shape)
    return a

In [35]:
fps = sorted(listfiles('../data/single_cell/original/lin/GSE154778_RAW', regex=r'.gz$'))
fps

['../data/single_cell/original/lin/GSE154778_RAW/MET01/barcodes.tsv.gz',
 '../data/single_cell/original/lin/GSE154778_RAW/MET01/features.tsv.gz',
 '../data/single_cell/original/lin/GSE154778_RAW/MET01/matrix.mtx.gz',
 '../data/single_cell/original/lin/GSE154778_RAW/MET02/barcodes.tsv.gz',
 '../data/single_cell/original/lin/GSE154778_RAW/MET02/features.tsv.gz',
 '../data/single_cell/original/lin/GSE154778_RAW/MET02/matrix.mtx.gz',
 '../data/single_cell/original/lin/GSE154778_RAW/MET03/barcodes.tsv.gz',
 '../data/single_cell/original/lin/GSE154778_RAW/MET03/features.tsv.gz',
 '../data/single_cell/original/lin/GSE154778_RAW/MET03/matrix.mtx.gz',
 '../data/single_cell/original/lin/GSE154778_RAW/MET04/barcodes.tsv.gz',
 '../data/single_cell/original/lin/GSE154778_RAW/MET04/features.tsv.gz',
 '../data/single_cell/original/lin/GSE154778_RAW/MET04/matrix.mtx.gz',
 '../data/single_cell/original/lin/GSE154778_RAW/MET05/barcodes.tsv.gz',
 '../data/single_cell/original/lin/GSE154778_RAW/MET05/features.tsv.gz',
 '../data/single_cell/original/lin/GSE154778_RAW/MET05/matrix.mtx.gz',
 '../data/single_cell/original/lin/GSE154778_RAW/MET06/barcodes.tsv.gz',
 '../data/single_cell/original/lin/GSE154778_RAW/MET06/features.tsv.gz',
 '../data/single_cell/original/lin/GSE154778_RAW/MET06/matrix.mtx.gz',
 '../data/single_cell/original/lin/GSE154778_RAW/P01/barcodes.tsv.gz',
 '../data/single_cell/original/lin/GSE154778_RAW/P01/features.tsv.gz',
 '../data/single_cell/original/lin/GSE154778_RAW/P01/matrix.mtx.gz',
 '../data/single_cell/original/lin/GSE154778_RAW/P02/barcodes.tsv.gz',
 '../data/single_cell/original/lin/GSE154778_RAW/P02/features.tsv.gz',
 '../data/single_cell/original/lin/GSE154778_RAW/P02/matrix.mtx.gz',
 '../data/single_cell/original/lin/GSE154778_RAW/P03/barcodes.tsv.gz',
 '../data/single_cell/original/lin/GSE154778_RAW/P03/features.tsv.gz',
 '../data/single_cell/original/lin/GSE154778_RAW/P03/matrix.mtx.gz',
 '../data/single_cell/original/lin/GSE154778_RAW/P04/barcodes.tsv.gz',
 '../data/single_cell/original/lin/GSE154778_RAW/P04/features.tsv.gz',
 '../data/single_cell/original/lin/GSE154778_RAW/P04/matrix.mtx.gz',
 '../data/single_cell/original/lin/GSE154778_RAW/P05/barcodes.tsv.gz',
 '../data/single_cell/original/lin/GSE154778_RAW/P05/features.tsv.gz',
 '../data/single_cell/original/lin/GSE154778_RAW/P05/matrix.mtx.gz',
 '../data/single_cell/original/lin/GSE154778_RAW/P06/barcodes.tsv.gz',
 '../data/single_cell/original/lin/GSE154778_RAW/P06/features.tsv.gz',
 '../data/single_cell/original/lin/GSE154778_RAW/P06/matrix.mtx.gz',
 '../data/single_cell/original/lin/GSE154778_RAW/P07/barcodes.tsv.gz',
 '../data/single_cell/original/lin/GSE154778_RAW/P07/features.tsv.gz',
 '../data/single_cell/original/lin/GSE154778_RAW/P07/matrix.mtx.gz',
 '../data/single_cell/original/lin/GSE154778_RAW/P08/barcodes.tsv.gz',
 '../data/single_cell/original/lin/GSE154778_RAW/P08/features.tsv.gz',
 '../data/single_cell/original/lin/GSE154778_RAW/P08/matrix.mtx.gz',
 '../data/single_cell/original/lin/GSE154778_RAW/P09/barcodes.tsv.gz',
 '../data/single_cell/original/lin/GSE154778_RAW/P09/features.tsv.gz',
 '../data/single_cell/original/lin/GSE154778_RAW/P09/matrix.mtx.gz',
 '../data/single_cell/original/lin/GSE154778_RAW/P10/barcodes.tsv.gz',
 '../data/single_cell/original/lin/GSE154778_RAW/P10/features.tsv.gz',
 '../data/single_cell/original/lin/GSE154778_RAW/P10/matrix.mtx.gz']

In [36]:
m = {}
for fp in fps:
    sample = fp.split('/')[-2]
    if sample not in m:
        m[sample] = {}
    if 'barcodes' in fp:
        m[sample]['barcodes'] = fp
    elif 'features' in fp:
        m[sample]['features'] = fp
    elif 'matrix' in fp:
        m[sample]['matrix'] = fp
m

{'MET01': {'barcodes': '../data/single_cell/original/lin/GSE154778_RAW/MET01/barcodes.tsv.gz',
  'features': '../data/single_cell/original/lin/GSE154778_RAW/MET01/features.tsv.gz',
  'matrix': '../data/single_cell/original/lin/GSE154778_RAW/MET01/matrix.mtx.gz'},
 'MET02': {'barcodes': '../data/single_cell/original/lin/GSE154778_RAW/MET02/barcodes.tsv.gz',
  'features': '../data/single_cell/original/lin/GSE154778_RAW/MET02/features.tsv.gz',
  'matrix': '../data/single_cell/original/lin/GSE154778_RAW/MET02/matrix.mtx.gz'},
 'MET03': {'barcodes': '../data/single_cell/original/lin/GSE154778_RAW/MET03/barcodes.tsv.gz',
  'features': '../data/single_cell/original/lin/GSE154778_RAW/MET03/features.tsv.gz',
  'matrix': '../data/single_cell/original/lin/GSE154778_RAW/MET03/matrix.mtx.gz'},
 'MET04': {'barcodes': '../data/single_cell/original/lin/GSE154778_RAW/MET04/barcodes.tsv.gz',
  'features': '../data/single_cell/original/lin/GSE154778_RAW/MET04/features.tsv.gz',
  'matrix': '../data/single_cell/original/lin/GSE154778_RAW/MET04/matrix.mtx.gz'},
 'MET05': {'barcodes': '../data/single_cell/original/lin/GSE154778_RAW/MET05/barcodes.tsv.gz',
  'features': '../data/single_cell/original/lin/GSE154778_RAW/MET05/features.tsv.gz',
  'matrix': '../data/single_cell/original/lin/GSE154778_RAW/MET05/matrix.mtx.gz'},
 'MET06': {'barcodes': '../data/single_cell/original/lin/GSE154778_RAW/MET06/barcodes.tsv.gz',
  'features': '../data/single_cell/original/lin/GSE154778_RAW/MET06/features.tsv.gz',
  'matrix': '../data/single_cell/original/lin/GSE154778_RAW/MET06/matrix.mtx.gz'},
 'P01': {'barcodes': '../data/single_cell/original/lin/GSE154778_RAW/P01/barcodes.tsv.gz',
  'features': '../data/single_cell/original/lin/GSE154778_RAW/P01/features.tsv.gz',
  'matrix': '../data/single_cell/original/lin/GSE154778_RAW/P01/matrix.mtx.gz'},
 'P02': {'barcodes': '../data/single_cell/original/lin/GSE154778_RAW/P02/barcodes.tsv.gz',
  'features': '../data/single_cell/original/lin/GSE154778_RAW/P02/features.tsv.gz',
  'matrix': '../data/single_cell/original/lin/GSE154778_RAW/P02/matrix.mtx.gz'},
 'P03': {'barcodes': '../data/single_cell/original/lin/GSE154778_RAW/P03/barcodes.tsv.gz',
  'features': '../data/single_cell/original/lin/GSE154778_RAW/P03/features.tsv.gz',
  'matrix': '../data/single_cell/original/lin/GSE154778_RAW/P03/matrix.mtx.gz'},
 'P04': {'barcodes': '../data/single_cell/original/lin/GSE154778_RAW/P04/barcodes.tsv.gz',
  'features': '../data/single_cell/original/lin/GSE154778_RAW/P04/features.tsv.gz',
  'matrix': '../data/single_cell/original/lin/GSE154778_RAW/P04/matrix.mtx.gz'},
 'P05': {'barcodes': '../data/single_cell/original/lin/GSE154778_RAW/P05/barcodes.tsv.gz',
  'features': '../data/single_cell/original/lin/GSE154778_RAW/P05/features.tsv.gz',
  'matrix': '../data/single_cell/original/lin/GSE154778_RAW/P05/matrix.mtx.gz'},
 'P06': {'barcodes': '../data/single_cell/original/lin/GSE154778_RAW/P06/barcodes.tsv.gz',
  'features': '../data/single_cell/original/lin/GSE154778_RAW/P06/features.tsv.gz',
  'matrix': '../data/single_cell/original/lin/GSE154778_RAW/P06/matrix.mtx.gz'},
 'P07': {'barcodes': '../data/single_cell/original/lin/GSE154778_RAW/P07/barcodes.tsv.gz',
  'features': '../data/single_cell/original/lin/GSE154778_RAW/P07/features.tsv.gz',
  'matrix': '../data/single_cell/original/lin/GSE154778_RAW/P07/matrix.mtx.gz'},
 'P08': {'barcodes': '../data/single_cell/original/lin/GSE154778_RAW/P08/barcodes.tsv.gz',
  'features': '../data/single_cell/original/lin/GSE154778_RAW/P08/features.tsv.gz',
  'matrix': '../data/single_cell/original/lin/GSE154778_RAW/P08/matrix.mtx.gz'},
 'P09': {'barcodes': '../data/single_cell/original/lin/GSE154778_RAW/P09/barcodes.tsv.gz',
  'features': '../data/single_cell/original/lin/GSE154778_RAW/P09/features.tsv.gz',
  'matrix': '../data/single_cell/original/lin/GSE154778_RAW/P09/matrix.mtx.gz'},
 'P10': {'barcodes': '../data/single_cell/original/lin/GSE154778_RAW/P10/barcodes.tsv.gz',
  'features': '../data/single_cell/original/lin/GSE154778_RAW/P10/features.tsv.gz',
  'matrix': '../data/single_cell/original/lin/GSE154778_RAW/P10/matrix.mtx.gz'}}

In [60]:
adatas = []
for sample, d in m.items():
    print(sample)
    a = read_lin(d['matrix'], d['features'], d['barcodes'])
    a.obs['sample_id'] = sample
    a.obs.index = [f'{sample}_{x}' for x in a.obs.index.to_list()]
    adatas.append(a)
len(adatas)

MET01
(533, 32738)
(533, 32738)
MET02
(745, 35635)
(745, 35635)
MET03
(526, 35635)
(526, 35635)
MET04
(272, 35635)
(272, 35635)
MET05
(2905, 35635)
(2905, 35635)
MET06
(2484, 35635)
(2484, 35635)
P01
(585, 36601)
(585, 36601)
P02
(786, 32738)
(786, 32738)
P03
(837, 32738)
(837, 32738)
P04
(1026, 32738)
(1026, 32738)
P05
(913, 32738)
(913, 32738)
P06
(769, 32738)
(769, 32738)
P07
(1098, 32738)
(1098, 32738)
P08
(1139, 32738)
(1139, 32738)
P09
(898, 32738)
(898, 32738)
P10
(1570, 32738)
(1570, 32738)

16

In [61]:
pool = None
for a in adatas:
    print(a.obs['sample_id'][0])
    if pool is None:
        pool = set(a.var.index)
    else:
        pool.intersection_update(a.var.index)
    print(len(pool))

MET01
32738
MET02
32738
MET03
32738
MET04
32738
MET05
32738
MET06
32738
P01
30358
P02
30358
P03
30358
P04
30358
P05
30358
P06
30358
P07
30358
P08
30358
P09
30358
P10
30358

In [62]:
adatas[6].var

                 gene_symbol                2
gene_id
ENSG00000243485  MIR1302-2HG  Gene Expression
ENSG00000237613      FAM138A  Gene Expression
ENSG00000186092        OR4F5  Gene Expression
ENSG00000238009   AL627309.1  Gene Expression
ENSG00000239945   AL627309.3  Gene Expression
...                      ...              ...
ENSG00000277836   AC141272.1  Gene Expression
ENSG00000278633   AC023491.2  Gene Expression
ENSG00000276017   AC007325.1  Gene Expression
ENSG00000278817   AC007325.4  Gene Expression
ENSG00000277196   AC007325.2  Gene Expression

[36601 rows x 2 columns]

In [63]:
adatas[10].var

                  gene_symbol
gene_id
ENSG00000243485    MIR1302-10
ENSG00000237613       FAM138A
ENSG00000186092         OR4F5
ENSG00000238009  RP11-34P13.7
ENSG00000239945  RP11-34P13.8
...                       ...
ENSG00000215635    AC145205.1
ENSG00000268590         BAGE5
ENSG00000251180    CU459201.1
ENSG00000215616    AC002321.2
ENSG00000215611    AC002321.1

[32738 rows x 1 columns]

In [66]:
gene_id_to_symbol = {i:s for a in adatas for i, s in zip(a[0].var.index, a[0].var['gene_symbol'])}
for a in adatas:
    a.var['gene_symbol_v2'] = [gene_id_to_symbol[x] for x in a.var.index]

In [67]:
for a in adatas:
    a.var.index = a.var['gene_symbol_v2'].to_list()
    a.var_names_make_unique()
    a.var = a.var[[]]
adatas[0].var

Empty DataFrame
Columns: []
Index: [MIR1302-10, FAM138A, OR4F5, RP11-34P13.7, RP11-34P13.8, AL627309.1, RP11-34P13.14, RP11-34P13.9, AP006222.2, RP4-669L17.10, OR4F29, RP4-669L17.2, RP5-857K21.15, RP5-857K21.1, RP5-857K21.2, RP5-857K21.3, RP5-857K21.4, RP5-857K21.5, OR4F16, RP11-206L10.3, RP11-206L10.5, RP11-206L10.4, RP11-206L10.2, RP11-206L10.9, AL669831.1, FAM87B, LINC00115, FAM41C, AL645608.2, RP11-54O7.16, RP11-54O7.1, RP11-54O7.2, RP11-54O7.3, SAMD11, AL645608.1, NOC2L, KLHL17, PLEKHN1, C1orf170, RP11-54O7.17, HES4, RP11-54O7.11, ISG15, AGRN, RP11-54O7.18, RNF223, C1orf159, RP11-465B22.5, RP11-465B22.8, TTLL10-AS1, TTLL10, TNFRSF18, TNFRSF4, SDF4, B3GALT6, FAM132A, RP5-902P8.12, UBE2J2, RP5-902P8.10, SCNN1D, ACAP3, PUSL1, CPSF3L, GLTPD1, TAS1R3, DVL1, MXRA8, AURKAIP1, CCNL2, RP4-758J18.2, MRPL20, RP4-758J18.13, ANKRD65, RP4-758J18.7, TMEM88B, RP4-758J18.10, VWA1, ATAD3C, ATAD3B, ATAD3A, TMEM240, SSU72, AL645728.1, C1orf233, RP11-345P4.9, MIB2, MMP23B, CDK11B, RP11-345P4.10, SLC35E2B, RP11-345P4.7, CDK11A, SLC35E2, NADK, GNB1, RP1-140A9.1, CALML6, TMEM52, C1orf222, RP11-547D24.1, ...]

[32738 rows x 0 columns]

In [68]:
adata = anndata.concat(adatas)
adata

AnnData object with n_obs × n_vars = 17086 × 30673
    obs: 'sample_id'

In [69]:
adata.write_h5ad('../data/single_cell/original/lin/lin.h5ad')